@font-face {
    font-family: 'Norse';
    src: url('./nord-font/Norse-Bold.woff2') format('woff2'),
        url('./nord-font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html, body {
    height: 100%;

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}