@font-face {
    font-family: 'Norse';
    src: url('./nord-font/Norse-Bold.woff2') format('woff2'),
        url('./nord-font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --whole-height: 100vh;
}
html, body {
    height: 100%;

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}   
.whole-container {
    display: flex;
}
.left-container {
    background-color: gray;
    min-height: var(--whole-height);
    flex: 1;
    flex-grow: 3;
}
.right-container {
    background-color: lightskyblue;
    min-height: var(--whole-height);
    flex: 1;
    flex-grow: 5;
}