@font-face {
    font-family: 'Norse';
    src: url('./nord-font/Norse-Bold.woff2') format('woff2'),
        url('./nord-font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
